@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    --body-clr-d: rgb(26, 26, 27);
    --card-clr-d: rgb(39, 39, 41);
    --semi-clr-d: rgba(0, 0, 0, 0.43);
    --border-clr-d: rgb(52, 53, 54);
    --font-clr-d: var(--card-clr-d);
    
    --body-clr-l: rgb(248, 249, 250);
    --card-clr-l: rgb(248, 246, 247);
    --semi-clr-l: rgba(255, 255, 255, 0.73);
    --border-clr-l: rgb(237, 239, 241);
    --font-clr-l: var(--card-clr-l);
    
    --current-body-clr: var(--body-clr-d);
    --current-card-clr: var(--card-clr-d);
    --current-semi-clr: var(--semi-clr-d);
    --current-border-clr: var(--border-clr-d);
    --current-font-clr: var(--font-clr-l);
}


* {
    margin: 0;
    color: var(--current-font-clr);
}

*:not(i) {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: var(--current-body-clr);
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    height: fit-content;
    background-color: var(--current-card-clr);
    border-bottom: 2px solid var(--current-border-clr);
    display: flex;
    position: fixed;
    
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        
        .header-text {
            font-size: calc(clamp(2.3rem, 3vw, 4.3rem) - 5px);
        }

        #search-form {
            display: flex;
            align-items: center;
            // justify-content: center;

            input {
                font-size: calc(clamp(1.5rem, 2vw, 3.5rem) - 5px);
                border: none;
                background-color: var(--current-border-clr);
                border-radius: 5px 0 0 5px;
                width: 25rem;
            }
            
            button {
                font-size: calc(clamp(1.5rem, 2vw, 3.5rem) - 5px);
                border: none;
                background-color: var(--current-body-clr);
                border-radius: 0 5px 5px 0;
                cursor: pointer;
            }
        }

        i {color: var(--current-font-clr);}
    }
}

#posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .post {
        display: flex;
        flex-direction: column;
        width: 28rem;
        height: Max(fit-content, 10rem);
        margin-block: clamp(2.8rem, 3vw, 3.5rem) clamp(.5rem, 1vw, 1.5rem);
        margin-inline: clamp(1rem, 2.8vw, 3.5rem);
        background-color: var(--current-card-clr);
        border: 2px solid var(--current-border-clr);
        border-radius: 10px;
        cursor: pointer;

        .image-inner-section {
            margin: clamp(.6rem, 1vw, 1rem);
    
            img {
                width: 100%;
            }
        }


        .text-inner-section {
            margin: 0 clamp(.6rem, 1vw, 1rem) clamp(.6rem, 1vw, 1rem);

            h1 {
                font-size: clamp(1.5rem, 1.5vw, 2.3rem);
            }
            
            p {
                font-size: clamp(.9rem, .9vw, 1.5rem);
            }
            
            h3 {
                font-size: clamp(1rem, 1.1vw, 1.7rem);
            }

            .image-counter {
                margin-top: .5rem;
            }
        }
    }
}

.image-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: var(--current-semi-clr);
    color: var(--font-clr-l);

    .text-inner-section {
        width: 100%;
        position: absolute;
        top: 0;
        background-color: var(--current-semi-clr);
        z-index: 8;
        
        .container {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 2rem;

            i {cursor: pointer;}
        }
    }
    
    .image-inner-section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;

        .image-slider {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 2rem;

            i {
                cursor: pointer;
                font-size: 3rem;
            }
            
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
                
                #active-img  {
                    display: flex;
                }

                img {
                    display: none;
                    height: auto;
                    width: auto;
                    max-height: 85%;
                    max-width: 85%;
                }
            }
        } 

        img {
            height: auto;
            width: auto;
            max-height: 85%;
            max-width: 85%;
        }
    }
}

#btn-nav-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;

    #show-more {
        border: none;
        font-size: calc(clamp(1.5rem, 1.5vw, 2.3rem) - 5px);
        font-weight: 600;
        color: var(--current-font-clr);
        background-color: var(--current-card-clr);
        padding: calc(clamp(.6rem, 1vw, 1rem) - 2px);
        border: 2px solid var(--current-border-clr);
        border-radius: 10px;
    }
}
